spring/src/test/resources/wsdl/test-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.github.com/WebServiceOne"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WebServiceOne"
                  targetNamespace="http://www.github.com/WebServiceOne">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.github.com/WebServiceOne">
            <xsd:element name="WebServiceOneOperation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="WebServiceOneOperationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="HelloResult">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="out" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="WebServiceOneOperationRequest">
        <wsdl:part name="parameters" element="tns:WebServiceOneOperation"/>
    </wsdl:message>
    <wsdl:message name="WebServiceOneOperationResponse">
        <wsdl:part name="parameters" element="tns:WebServiceOneOperationResponse"/>
    </wsdl:message>
    <wsdl:portType name="WebServiceOnePortType">
        <wsdl:operation name="WebServiceOneOperation">
            <wsdl:input message="tns:WebServiceOneOperationRequest"/>
            <wsdl:output message="tns:WebServiceOneOperationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebServiceOneBinding" type="tns:WebServiceOnePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="WebServiceOneOperation">
            <soap:operation soapAction="http://www.teknocrat.com/WebServiceOne/WebServiceOneOperation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebServiceOne">
        <wsdl:port name="WebServiceOnePort" binding="tns:WebServiceOneBinding">
            <soap:address location="http://www.github.com/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>